html,
body {
  overflow: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
  cursor: default;
}

.draggable-area {
  position: absolute;
  -webkit-user-select: none;
  -webkit-app-region: drag;
  left: 32px;
  right: 105px;
  height: 20px;
  top: 5px;
  margin-top: 3px;
  overflow: hidden;   
}

.restart-button {
  position: absolute;
  vertical-align: middle;
  padding-top: 2px;  
  top: 5px;
  left: 5px;
  width: 25px;
  height: 20px;
  text-align: center;
  -webkit-user-select: none;
  -webkit-app-region: no-drag;  
}

.restart-button-inactive {
  position: absolute;
  vertical-align: middle;
  padding-top: 2px;
  top: 5px;
  left: 5px;
  width: 25px;
  height: 20px;
  text-align: center;
  -webkit-user-select: none;
  -webkit-app-region: no-drag;
  color: #bcbcbc;
}

.restart-button-hover {
  background-color: #3665b3;
  color: white;
}

.close-button {
  position: absolute;
  background-image: url(titlebar-icons/close.png);
  right: 5px;
  width: 45px;
  height: 20px;
  top: 5px;
  -webkit-user-select: none;
  -webkit-app-region: no-drag;
}

.close-button-inactive {
  position: absolute;
  background-image: url(titlebar-icons/close-inactive.png);
  right: 5px;
  width: 45px;
  height: 20px;
  top: 5px;
  -webkit-user-select: none;
  -webkit-app-region: no-drag;
}

.close-button-hover {
  background-image: url(titlebar-icons/close-hover.png);
}

.maximize-button {
  position: absolute;
  background-image: url(titlebar-icons/maximize.png);
  right: 51px;
  width: 25px;
  height: 20px;
  top: 5px;
  -webkit-user-select: none;
  -webkit-app-region: no-drag;
}

.maximize-button-inactive {
  position: absolute;
  background-image: url(titlebar-icons/maximize-inactive.png);
  right: 51px;
  width: 25px;
  height: 20px;
  top: 5px;
  -webkit-user-select: none;
  -webkit-app-region: no-drag;
}

.maximize-button-hover {
  background-image: url(titlebar-icons/maximize-hover.png);
}

.maximized-button {
  position: absolute;
  background-image: url(titlebar-icons/maximized.png);
  right: 51px;
  width: 25px;
  height: 20px;
  top: 5px;
  -webkit-user-select: none;
  -webkit-app-region: no-drag;
}

.maximized-button-inactive {
  position: absolute;
  background-image: url(titlebar-icons/maximized-inactive.png);
  right: 51px;
  width: 25px;
  height: 20px;
  top: 5px;
  -webkit-user-select: none;
  -webkit-app-region: no-drag;
}

.maximized-button-hover {
  background-image: url(titlebar-icons/maximized-hover.png);
}

.minimize-button {
  position: absolute;
  background-image: url(titlebar-icons/minimize.png);
  right: 76px;
  width: 25px;
  height: 20px;
  top: 5px;
  -webkit-user-select: none;
  -webkit-app-region: no-drag;
}

.minimize-button-inactive {
  position: absolute;
  background-image: url(titlebar-icons/minimize-inactive.png);
  right: 76px;
  width: 25px;
  height: 20px;
  top: 5px;
  -webkit-user-select: none;
  -webkit-app-region: no-drag;
}

.minimize-button-hover {  
  background-image: url(titlebar-icons/minimize-hover.png);
}

.title {
  color: #000; 
}

.title-inactive {
  color: #bcbcbc;
}

#content {
  font-size: 22pt;
  text-align: center;
  position: absolute;
  top: 30px;
  bottom: 5px;
  right: 7px;
  left: 7px;
}

.centered {
  position: fixed;
  width: 350px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}